<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>SignInServlet</servlet-name>
  	<display-name>SignInServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<display-name>FileUploadServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.FileUploadServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>FileViewerServlet</servlet-name>
   	<display-name>FileViewerServlet</display-name>
   	<description>Servlet used to display txt files content to the screen</description>
   	<servlet-class>servlets.FileViewerServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LoginSuccessfulServlet</servlet-name>
   	<display-name>LoginSuccessfulServlet</display-name>
   	<description></description>
   	<servlet-class>servlets.LoginSuccessfulServlet</servlet-class>
   </servlet>
  
   <servlet-mapping>
  
    <servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/sign-up</url-pattern>
  
   </servlet-mapping>
   
   <servlet-mapping>
  
    <servlet-name>SignInServlet</servlet-name>
  	<url-pattern>/sign-in</url-pattern>
  
   </servlet-mapping>
   
   
   <servlet-mapping>
	   
   	<servlet-name>LogoutServlet</servlet-name>
   	<url-pattern>/logout</url-pattern>
   	
   </servlet-mapping>
   
    <servlet-mapping>
	   
   	<servlet-name>FileUploadServlet</servlet-name>
   	<url-pattern>/file-upload</url-pattern>
   	
   </servlet-mapping>
   
   <servlet-mapping>
	   
   	<servlet-name>FileViewerServlet</servlet-name>
   	<url-pattern>/view-file</url-pattern>
   	
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoginSuccessfulServlet</servlet-name>
   	<url-pattern>/welcome</url-pattern>
   </servlet-mapping>
   
</web-app>
